searchBar {
}

input {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #eeeeee;
  font-size: 2rem;
  line-height: 2.1rem;
}

input:focus {
  border-color: crimson;
  outline: none;
}
